  @model IEnumerable<dogAdoption.Models.Dog>;
  
  <div class="">
        <div class="container mx-auto max-w-6xl px-10 py-20">
            <h1 class="aboutheader pb-6">
                <a asp-action="MainAdmin" asp-controller="Admin">Main-Admin </a>
            </h1>
            <div class="pb-5">
                <h1 class="font-sans my-5 text-4xl bg-red-500 py-4 px-10">Dogs-Menu</h1>
            </div>
            <div class="pb-10">
                <button class="font-sans text-xl bg-black py-3 px-10 text-white">
                    <a asp-action="createDog" asp-controller="DogsAdmin">Add-Dog</a>
                </button>
                <button class="font-sans text-xl bg-black py-3 px-10 text-white">
                     <a asp-action="adoptedDogs" asp-controller="DogsAdmin">AdoptedDogs-lists</a>
                </button>
            </div>


            <div class="pb-8">
                <h1 class="font-sans text-2xl pb-2">@Model.Count() Dogs in the database</h1>
                <h1 class="font-sans text-2xl">@Model.Where(a => a.adopted==true).Count() Dogs adopted</h1>
            </div>


            @if (Model.Count() >= 1)
            {
                <h1 class="detailsheader pb-6">List of Dogs</h1>
                <table class="table tablefont table-fixed w-full text-center ">
                    <thead class="bg-black text-white">
                        <tr>
                            <th class="py-2">Id</th>
                            <th>Name</th>
                            <th>Color</th>
                            <th>Disability</th>
                            <th>Sex</th>
                            <th>Option1</th>
                            <th>Option2</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr class="border-b-2 text-xl font-serif text-gray-700 border-red-600">
                            <td class="py-4 ">@item.Id</td>
                            <th class="underline"><a asp-action="viewDog" asp-route-id="@item.Id"  asp-controller="DogsAdmin">@item.Name</a></th>
                            <th>@item.Color</th>
                            <th>@item.Disability</th>
                            <th>@item.Color</th>
                            <th><button class="bg-green-700 text-white text-xl py-2 px-4"> <a asp-action="updateDog"  asp-route-id="@item.Id" asp-controller="DogsAdmin">Update-Dog</a></button></th>
                            <th><button class="bg-red-700 text-white text-xl py-2 px-4"> <a asp-action="deleteDog" asp-route-id="@item.Id" asp-controller="DogsAdmin">Delete-Dog</a></button></th>
                        </tr>
                        }
                    </tbody>
                </table>

            } else {
                <h1 class="font-sans text-4xl tex-red-600 align-center py-20">Please add a Dog, the database is null</h1>
            }

        </div>
    </div>
