@model IEnumerable<dogAdoption.Models.Dog>;

<div class="">
        <div class="container mx-auto max-w-5xl px-10 py-20">
            <h1 class="dogsheader pb-8">Browse-our-lovely-Dogs</h1>
            <div class="max-w-xl flex pb-8">
                <input type="text" placeholder="eg eyes-color, skin-color, age" class="border-2 border-black py-1 px-4 text-xl shadow-xl w-full mr-4">
                <button class="bg-red-600 shadow-xl text-white font-bold py-3 text-xl px-10 ">Search</button>
            </div>
            <h2 class="font-serif text-2xl pb-20 tracking-wider font-bold">@Model.Count() Dogs available</h2>

            @if (@Model.Count() >= 1)
            {
                
            <div class="grid grid-cols-3 gap-8">
                
                @foreach (var dog in Model)
                {                   
                <div class=" cursor-pointer">
                    <img src="/images/five.jpg" alt="" class="w-full">
                    <div class="py-4 shadow-xl px-3">
                        <h2 class="dogHeader">@dog.Name</h2>
                        <p class="dogsecond">Age: @dog.Age yrs</p>
                        <a class="doglink">
                            <a asp-action="DogDetails" asp-controller="dogs" asp-route-id="@dog.Id">More_Info</a>
                        </a>
                    </div>
                </div>
                }

            </div>
            }

        </div>
    </div>
