
@model IEnumerable<dogAdoption.Models.AdoptionRequest>;

 <div class="">
        <div class="container mx-auto max-w-6xl px-10 py-20">
            <h1 class="aboutheader pb-6">Admin-Panel-Adoptions</h1>

            <div class="pb-5">
                <h1 class="font-sans my-5 text-4xl bg-red-500 py-4 px-10">Adoption-Menu</h1>
            </div>
            <div class="pb-10">
                <button class="font-sans text-xl bg-green-600 py-3 px-10 text-white">accepted-lists</button>
                <button class="font-sans text-xl bg-black py-3 px-10 text-white">Pending-lists</button>
            </div>

            @if(@Model.Count() >= 1)
            {
                <h1 class="detailsheader pb-6">List of Rejected Adoption Requests</h1>

                <table class="table tablefont table-fixed w-full text-center ">
                    <thead class="bg-black text-white">
                        <tr>
                            <th class="py-2">Id</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Email</th>
                            <th>Dog</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var request in Model)
                        {
                        <tr class="border-b-2 text-xl font-serif text-gray-700 border-red-600">
                            <td class="py-4 ">@request.Id</td>
                            <th class="underline">@request.FirstName</th>
                            <th>@request.LastName</th>
                            <th>@request.Email</th>
                            <th>@request.dog?.Name</th>
                        </tr>   
                        }
                    </tbody>
                </table>
            }else
            {
                <h1>There's no rejected adoption requests</h1>
            }

        </div>
    </div>